body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color:#000000;
	background-color: #f5f8fb;
}

/*SLIDESHOW*/

/*SLIDESHOW*/

a{
	text-decoration: none;
}
.btn-black{
	border-radius: 3px;
	padding: 2px 4px;
	color: #fff;
	background-color: #000;
}

#btn-showmore{
	background-color: #222;
	font-weight: 700;
	border: 1px solid #222;
	color: #fff;
	font-size: 14px;
	padding: 8px 15px;	
	border-radius: 5px;
}

.btn{
	border-radius: 5px;
	padding: 4px 10px;
	color: #fff;
	font-size: 12.5px;
	position: absolute;
	font-weight: 700;
}

.btn-search{
	margin-top: 4px;padding: 5px 0;background-color: #222;color: white;border: 0;
}

.btn-search:hover{
	background-color: #444;
}

.btn-blockchain{
	background-color: #c16c30;
}
.btn-about{
	background-color:  #4c60f6;
}

.btn-news{
	background-color:  #f57f21;
}

.btn-events{
	background-color: #32b47a;
}

.btn-business{
	background-color: #aa35d6;
}

.btn-markets{
	background-color: #feb660;
}

.btn-technology{
	background-color: #35b5ff;
}

.btn-topnews{
	background-color: #f22626;
	position: absolute;
	top: 12px;
}
/*NAV AREA*/
	.sticky {
	  position: fixed !important;
	  top: 0;
	  left:0;
	  width: 100%;
	  /*display: flex;*/
	  background-color: #f5f8fb;
	  z-index: 12;
	}

	nav{
		margin-bottom: 0 !important;
	}

	.navbar-default{
		background-color: transparent;
		border:none;
		font-size: 14.5px;
	}

	.nav{
		/*padding-left: 90px;*/
	}

	.container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}

	/*FIRST NAV*/
	.first-nav{
		background-image: url('../img/bg1.png');
		background-size: cover;
		background-position: center center;
		padding-top:15px;
		padding-bottom:15px;
	}

	.rate{
		color: #efa34a;
		display: flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		width: 67%;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		padding-right: 80px;
	}

	.rate-header{
		display: flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		width: 100%;
		font-size: 16px;
	}

	.rate-hr{
		width:100%;
		border-bottom: 1px #efa34a solid;
	}

	.rate-group{
		display: flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		justify-content: space-between;
	}

	.rate-item{
		display: flex;
		/*flex-basis: 100%;*/
		flex-direction: column;
		-webkit-flex-direction: column;
		margin-right: 12px;
		min-width: 20%;
	}

	.rate-item:last-child{
		margin-right: 0;
	}

	.rate-title{
		font-size: 21px;
		font-weight: 700;
	}

	.rate-price{
		font-size: 23px;
		color:#fff;
		letter-spacing: 0.2px;
	}

	.rate-hr2{
		width:50%;
		border-bottom: 1px #fff solid;
	}

	.rate-percent{
		font-size: 12.5px;
		padding-top: 8px;
		font-weight: 700;
	}

	.rate-percent.up{
		color: #3ce098;
	}

	.rate-percent.down{
		color:#e83a3a;
	}

	.rate-percent .fa{
		font-size: 16px;
	}
	/*FIRST NAV*/


	/*SECOND NAV*/
	.nav li a{
		padding-top: 22px;
		/*padding-bottom: 24px;*/
		min-width: 85px;
		text-align: center;
	}

	.logo{
		height: 100px;
		width: auto;/*
		padding-left: 105px;*/
	}

	.logo2{
		display: none;
		width: auto;
		/*padding-left: 105px;*/
	}

	#home{
		border-top: 4px #f44335 solid;
	}

	#about{
		border-top: 4px #4c60f6 solid;
	}

	#news{
		border-top: 4px #f57f21 solid;
	}

	#events{
		border-top: 4px #32b47a solid;
	}

	#business{
		border-top: 4px #aa35d6 solid;
	}

	#markets{
		border-top: 4px #feb660 solid;
	}

	#technology{
		border-top: 4px #35b5ff solid;
	}

	#blockchain{
		border-top: 4px #c16c30 solid;
	}

	#homeM{
		border-right: 4px #f44335 solid;
	}

	#aboutM{
		border-right: 4px #4c60f6 solid;
	}

	#newsM{
		border-right: 4px #f57f21 solid;
	}

	#eventsM{
		border-right: 4px #32b47a solid;
	}

	#businessM{
		border-right: 4px #aa35d6 solid;
	}

	#marketsM{
		border-right: 4px #feb660 solid;
	}

	#technologyM{
		border-right: 4px #35b5ff solid;
	}

	#blockchainM{
		border-right: 4px #c16c30 solid;
	}

	.navbar-form{
		margin:0;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	#mobile{
		display: none;
	}

	.menu-micon{
		display: none;

	}

	.menu-micon div{
		color: white;
		/*border: 1px #d7d7d7 solid;*/
		padding-top:15px;
		/*padding-bottom: 10px;*/
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 15px;
	}

	#toggle i{
		font-size: 23px
	}

	.form-group .fa-search { 
	  position: absolute;
	  top: 7px;
	  left: 10px;
	  font-size: 16px;
	}

	.search-group{
		position: relative;
	}

	.search-bar{
		font-family: 'Montserrat', sans-serif;
		box-shadow: none;
		-webkit-box-shadow:none;
		border-radius: 1px;
		border:1px #dbdbdb solid;
		width:250px !important;
		padding-left: 30px;
	}
	/*SECOND NAV*/
/*NAV AREA*/


/*SECTION ONE*/
#section-one{
	display: flex;
	flex-direction: column;
}

.tile-group{
	display: flex;
	flex-grow: 1;
}

.tile-s{
	flex-grow: 1;margin-bottom: 2px;height: 250px;background-size: cover;padding: 10px 20px;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);display: flex;flex-direction: column;
	justify-content: flex-end;position: relative;overflow: hidden;
}

.tile-hover{
	height: 100%;width: 100%;left: 0;display: flex;position: absolute;flex-direction: column;
	bottom:-53.6%;color: white;padding: 20px 20px;font-family: 'Montserrat', sans-serif;
	opacity: 0;
	transition: all .6s ease;
}

.tile-hover a{
	color: #fff;
	text-decoration: underline;
	font-weight: 700;
}

.tile-s:hover .tile-hover{
	bottom: 0;
	background-color: rgba(0,0,0,0.9);
	opacity: 1;
	transition: all .6s ease;
}

.tile-detail{
	font-family: 'Montserrat', sans-serif;
	font-size: 12.5px;
	font-style: italic;
	color:#fff;
	display: flex;
	padding:5px 0;
}

.tile-s .tile-title{
	margin-top: 10px;
	font-size: 17px;
	color: #fff;
}

.tile-detail div{
	margin-right: 12px;
}

.tile div:last-child{
	margin-right: 0px;
}


.tile-s:last-child{
	margin-bottom: 0;
}

.tile-m{
	display: flex;flex-direction: column;flex-grow:1;justify-content: space-between;margin-right: 2px;margin-bottom: 2px;flex-basis:25%;
}

.tile-m:last-child{
	margin-right: 0;
}

#new{
	display: none;
}

.tile-l{
	display:flex;flex-grow: 2;margin-right: 2px;margin-bottom: 2px;flex-basis: 50%;position: relative;align-content: center;flex-direction: column;justify-content: center;
}

.tile-slide{
	display: none;flex-grow: 1;flex-direction: column;padding: 10px 20px;height: 504px;justify-content: flex-end;box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);background-size: cover;position: relative;
}

.hover-l{
	padding: 60px 40px;font-size: 22px;
}

.tile-l:hover .tile-hover{
	background-color: rgba(0,0,0,0.9);visibility: visible;opacity: 1;
}

.slidepage{
	position: absolute;width: 100%;display:flex;color: white;justify-content: space-between;
	z-index: 11;top:43%;
}

#prev{
	float: left;cursor: pointer;margin-left: 15px;
}

#next{
	float: right;cursor: pointer;margin-right: 15px;
}

.tile-slide.active{
	display: flex;
}

.tile-slide.sactive{
	display: flex;
}

.tile-taggroup{
	display: flex;flex-direction: row;
}

.tile-tag{
	position: relative;
	flex: 0 0 auto;
	display: flex;
}

.tile-slide .tile-title{
	margin-top: 10px;
}

.tile-slide .tile-title a{
	font-size: 25px;
	color: #fff;
	line-height: 1em;
}

.tile-l .tile-titleL a:hover{
	color: #fff;
}

.news-line{
	display: flex;
	background-color: white;
	flex-grow: 1;
	padding: 12px 20px;
	font-size: 12.5px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.news-line>div{
	margin-left:5px;
	margin-right:5px;
}

/*.news-tag1{
	font-ffont-family: 'Montserrat', sans-serif; font-weight:700;
	color: white;
	background-color: #f44335;
	padding: 7px 10px;
	border-radius: 3px;
}*/

.news-tag1{
	font-ffont-family: 'Montserrat', sans-serif; font-weight:700;
	white-space:nowrap;
	position:relative;
	/*margin:0 5px 0 10px;*/
	/*display:inline-block;*/
	height:25px;
	border-radius: 5px 0 0 5px;
	padding: 1px 17px 0px 18px;
	background:#f44335;
	color:#FFF;
	line-height:23px;
	margin-right: 18px !important;
}
.news-tag1:before{
	position:absolute;
	background:#f44335;
	content:"";
	color:white;
	text-shadow: 0 0 1px #aaa;
	/*font-size:12px;*/
	line-height:13px;
	text-indent:6px;
	top:3px;
	right:-9px;
	width: 19px;
	height: 19px;
	border-radius: 3px;
	transform: rotate(45deg);

}

.news-datetime{
	font-weight: 700;
	margin-right: 3px !important;
	color: #f44335;
}

.news-tag2{
	padding: 3px 7px;
	font-size: 10.5px;
	font-ffont-family: 'Montserrat', sans-serif; font-weight:700;
}

.news-headline{
	margin-left: 0px !important;
}
/*SECTION ONE*/

/*SECTION TWO*/
#section-two{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding: 50px 100px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.article-item{
	display: flex;
	flex-basis: initial;
	width: 49.5%;
	flex-grow: 0;
	margin-bottom: 12px;
	background-color: #fff;
	flex-direction: column;
	border: 1px #d7d7d7 solid;
	/*visibility: hidden;*/
}

.article-img{
	display: flex;
	height: 200px;
	justify-content: flex-end;
	flex-grow: 1;
	flex-direction: column;
	padding: 10px 20px;
	background-size: cover;
	position: relative;
}

.article-img .taggroup{
	display: flex;flex-direction: row;
}

.taggroup .tag{
	position: relative;
	flex: 0 0 auto;
	display: flex !important;
}

.article-img img{
	/*width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: top center;*/
}

.article-group{
	padding: 15px 20px;
}

.article-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 17px;
	border-bottom: 1px #d7d7d7 solid;
	color: #0150a0;
	padding-bottom: 3px;
}

.article-detail{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12.5px;
	font-style: italic;
	color:#484848;
	display: flex;
	padding:5px 0;
	border-bottom: 1px #d7d7d7 solid;
}

.article-detail i{
	color: #0150a0;
}

.article-detail div{
	margin-right: 12px;
}

.article-detail div:last-child{
	margin-right: 0px;
}

.article-content{
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	border-bottom: 1px #d7d7d7 solid;
}

.article-link{
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.article-linkdet{
	font-size: 16.5px;
	display: flex;
	flex-direction: row;
}

.article-linkdet a{
	font-weight: 700;
	text-decoration: none;
}

.article-linkdet div{
	padding-left: 5px;
}

/*SECTION TWO*/


/*SECTION THREE*/
#section-three{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 0;
}

#section-three div{
	margin-right: 10px;
	margin-left: 5px;
	color: #7d7a7a;
}

.paging{
	font-size: 12.5px;
	text-decoration: none;
	color: #7d7a7a;
	border: 1px #d7d7d7 solid;
	border-radius: 5px;
	min-width: 32px;
	text-align: center;
	padding: 5px 8px;
	background-color: #fff;
	margin-right:5px;
}

.paging:last-child{
	margin-right: 0;
}

.paging:hover{
	color: #7d7a7a;
	background-color: #fefefe;
}

#section-three .active{
	background-color: #acacac;
	color: #fff;
	border: 1px #acacac solid;
}
/*SECTION THREE*/

/*SECTION FOUR*/
#section-four{
	padding-top: 50px;
	display: flex;
	flex-direction: column;
}

.subscribe{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../img/bg2.png');
	flex-basis: 100%;
	background-size: cover;
	padding: 30px 0;
}

.subscribe-title{
	font-size: 33.5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
	padding-right: 80px;
	padding-top: 10px;
}

.subscribe-input{
	padding-top: 10px;
	display: flex;
}

.subscribe-input input{
	font-size: 21px;
	padding: 8px 15px;
	border: 2px #ffffff solid;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	color: #fff;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	width: 350px;
}

.subscribe-input ::-webkit-input-placeholder {
	color:#fff;
}

.subscribe-input ::-moz-placeholder{
	color:#fff;
}

.subscribe-input :-ms-input-placeholder{
	color:#fff;
}

.subscribe-input :-moz-placeholder{
	color:#fff;
}

.mobile-sub{
	background-color: #222;
	color: white !important;
}

.mobile-sub:hover{
	background-color: #444 !important;
}

.subscribe-input button{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border:2px #ffffff solid;
	background-color: #fff;
	color: #000;
	padding: 5px 15px 7px 10px;
	font-size: 24px;
	margin-left: -5px;
}

.footer{
	background-color: #111111;
	padding: 20px 45px;
	display: flex;
	flex-direction: row;
}

.footer-logogroup{
	display: flex;flex-direction: column;
}

.footer-logo{
	width: auto;
	height: 100px;
}

.footer-menu{
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 0 60px;
	align-items: center;
	width: 60%;
}

.footer-menu a{
	text-decoration: none;
	color: #fff;
}

.footer-menu a:hover{
	color: #fff;
}

.footer-term{
	display: flex;
	color:#fff;
	font-size: 17px;
	align-items: center;
	flex-grow: 1;
	justify-content: flex-end;
	padding-right: 20px;
}

.footer-term a{
	text-decoration: none;
	color: #fff;
}

.footer-term a:hover{
	color: #fff;
}

.copyright{
	background-color: #111111;
	color: #f7941d;
	font-family: 'Montserrat', sans-serif;
	font-size: 16.5px;
	flex-grow: 1;
	text-align: center;
	padding-bottom: 25px;
}
/*SECTION FOUR*/